# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Editor/IDE
.vscode/
.idea/

# OS files
.DS_Store

# Test and cache
.pytest_cache/

# Backup folder created by cleanup tasks
removed_backups/

# Logs
*.log
